:root {
    --primary-brand-color: #4D5AE5;
    --pressed-state-color: #404BBF;
    --title-background-color-dark: #2E2F42;
    --text-color:#434455;
    --background-color-team: #F4F4FD;
    --backgrond-color-light: #FFFFFF
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    background-color: var(--backgrond-color-light)
}

.link {
    text-decoration: none;
    color: inherit;
}

.list {
    list-style: none;
}

/**--header--**/

.header {}

.logo-link {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-web {
    color: var(--primary-brand-color);
}

.logo-studio {
    color: var(--title-background-color-dark);
}

.header-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-background-color-dark);
}

.header-address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.header-link:hover, .header-link:focus, .header-address-link:hover,
.header-address-link:focus {
    color: var(--pressed-state-color);

}
/**--hero--**/
.hero {
    background-color:var(--title-background-color-dark);
}

.hero-text {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--backgrond-color-light);
}

.hero-btn { 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--backgrond-color-light);
    background-color: var(--primary-brand-color);
    box-shadow: var(--title-background-color-dark);
    border-radius: 4px;
    cursor: pointer;
}

.hero-btn:hover, .hero-btn:focus {
    background-color: var(--pressed-state-color);
    box-shadow: var(--title-background-color-dark);
}

/**--section-advantages--**/

.features {}

.features-title {
    visibility: hidden;
}

.features-list {}

.list {}

.features-item {}

.features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-background-color-dark);
}

.features-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/**--section-doing--**/

.doing {
    
}

.doing-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-background-color-dark);
}

.doing-list {}

.doing-item {}

/**--section-team--**/

.team {
    background-color: var(--background-color-team);
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-background-color-dark);
}

.team-list {
}

.team-item {
    background-color: var(--backgrond-color-light);
}

.team-item-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;       
    letter-spacing: 0.02em;
    color: var(--title-background-color-dark);
}

.team-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/**--footer--**/

.footer {
    background-color: var(--title-background-color-dark);
    color: var(--background-color-team)
}

.footer-logo-studio {
    color: var(--background-color-team)
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;   
    letter-spacing: 0.02em;
}